@use "utils/_mixins" as ah;

.about {
  &__container {
    margin-top: 100px !important;
    height: 300px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    line-height: 2.5;

    .fa-user {
      color: rgb(236, 251, 169);
      font-size: ah.fluid(36);
    }
  }

  &__title {
    font-size: ah.fluid(32);
    text-align: center;
    padding-bottom: 20px;
  }
}
