@use "utils/_mixins" as ah;
@use "utils/_variable.scss" as varSt;

.about {
  @include ah.adaptiv-value("padding-top", 25, 15, 0);
  @include ah.adaptiv-value("padding-bottom", 25, 5, 0);

  &__container {
    height: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    @include ah.adaptiv-value("line-height", 40, 24, 0);

    .fa-user {
      @include ah.adaptiv-value("font-size", 36, 27, 0);
    }
  }

  &__title {
    @include ah.adaptiv-value("font-size", 32, 24, 0);
    text-align: center;
    @include ah.adaptiv-value("padding-bottom", 20, 10, 0);
    font-family: "Roboto";
  }

  &__content{
    @include ah.adaptiv-value("font-size", 18, 13, 0);
    text-indent: 3%
  }

  &__list {
    @include ah.adaptiv-value("font-size", 18, 13, 0);
    li::before {
      content: "\2714"; 
      font-weight: bold; 
      display: inline-block;
      max-width: 20px;
      color: varSt.$color-second;
      margin-right: 20px;
      color: #6ba3fd;
    }
  }
}
.fa {
}
