@use "utils/_mixins" as ah;

.about {
  padding-top: 50px;

  &__container {
    height: 300px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    line-height: 2.5;

    .fa-user {
      font-size: ah.fluid(36);
    }
  }

  &__title {
    font-size: ah.fluid(32);
    text-align: center;
    padding-bottom: 20px;
    font-family: "Roboto";
  }

  &__list {
    color: #c2bfbf;

    li::before {
      content: "\2714"; 
      font-weight: bold; 
      display: inline-block;
      max-width: 20px;
      color: #CD3021;
      margin-right: 20px;
    }
  }
}
.fa {
}
