@use "utils/_mixins" as ch;

.contact {
  @include ch.adaptiv-value("padding-top", 25, 15, 0);
  @include ch.adaptiv-value("padding-bottom", 25, 15, 0);
  // padding-bottom: 104px;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include ch.adaptiv-value("line-height", 40, 24, 0);
    h2 {
      @include ch.adaptiv-value("font-size", 32, 24, 0);
      text-align: center;
      @include ch.adaptiv-value("padding-bottom", 20, 10, 0);
      font-family: "Roboto";
    }

    .fa-envelope {
      @include ch.adaptiv-value("font-size", 36, 27, 0);
    }

    a{
      @include ch.adaptiv-value("font-size", 24, 18, 0);
    }
  }
}

.fa-phone {
  color: #64A3FD;
  padding-right: 25px;
}
.fa-telegram {
  color: #64A3FD;
  padding-right: 25px;
}
.fa-envelope-open-text {
  color: #64A3FD;
  padding-right: 25px;
}
