.footer {
  // position: fixed;
  // left: 0;
  // bottom: 0px;
  // width: 100%;
  background-color: rgba(30, 30, 30, 1) !important;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
