@use "utils/_mixins" as mh;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(30, 30, 30, 1) !important;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background-color: rgba(30, 30, 30, 1) !important;
  }

  &__logo {
    color: #f13f3f;
    font-size: mh.fluid(24);
    letter-spacing: 3px;
    font-family: "JetBrains Mono";
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    animation: typing 4s steps(35, end), /* Анимация печати */ blink-caret 1s step-end infinite; /* Анимация курсора */
  }

  /* Анимация печати */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 15%;
    }
  }

  /* Анимация мигающего курсора */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  &__nav {
    display: flex;
    a {
      i {
        margin-right: 10px;
      }
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__lang-panel {
    display: flex;
    gap: 10px;
    .active {
      color: #cd3021;
    }
  }

  &__lang-item {
  }

  &__getOffer {
    display: flex;
    background-color: #cd3021;
    border-radius: 5px;
    &:hover {
      background-color: #f13f3f;
    }
  }

  &__offer {
    padding: 10px;
  }
}
.fa {
}
.fa-user {
  color: #cd3021;
}
.fa-code {
  color: #cd3021;
}
.fa-th {
  color: #cd3021;
}
.fa-envelope {
  color: #cd3021;
}

.open {
  display: flex !important;
}

.burger {
  // display: flex;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #f13f3f;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #f13f3f;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //add active class for animation burger icon
  // &.active span in CSS will be without space (.burger.active)
  // .active span in CSS will be with space (.burger. active)
  &.active span {
    transform: scale(0);
  }
  //add active class for animation burger lines
  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (min-width: 901px) {
  .burger {
    display: none;
  }
}

@media (max-width: 900px) {
  .burger {
    display: flex;
  }
  .header__nav{
    display: none;
  }
  .header__getOffer{
    display: none;
  }
}
