@use "utils/_mixins" as mh;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(30, 30, 30, 1) !important;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background-color: rgba(30, 30, 30, 1) !important;
  }

  &__logo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    display: flex;
    a {
      i {
        margin-right: 10px;
      }
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__lang-panel {
    display: flex;
    gap: 10px;
    .active {
      color: #cd3021;
    }
  }

  &__lang-item {
  }

  &__getOffer {
    display: flex;
    background-color: #cd3021;
    border-radius: 5px;
    &:hover {
      background-color: #f13f3f;
    }
  }

  &__offer {
    padding: 10px;
  }
}
.fa {
}
.fa-user {
  color: #cd3021;
}
.fa-code {
  color: #cd3021;
}
.fa-th {
  color: #cd3021;
}
.fa-envelope {
  color: #cd3021;
}
