@use "utils/_mixins" as mh;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(30, 30, 30, 1) !important;
  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 74px;
    background-color: rgba(30, 30, 30, 1) !important;
    gap: 30px;
  }

  &__logo {
    color: #f13f3f;
    font-size: mh.fluid(24);
    letter-spacing: 3px;
    font-family: "JetBrains Mono";
    text-align: center;
  }

  &__nav {
    display: flex;
    a {
      i {
        margin-right: 10px;
      }
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__lang-panel {
    display: flex;
    gap: 10px;
    .active-lang {
      color: #cd3021;
    }
  }

  &__lang-item {
    border-right: 1px solid #cd3021;
    padding-right: 15px;

    &:last-child{
      border-right: none;
      padding-right: none;
    }
  }

  &__getOffer {
    display: flex;
    background-color: #cd3021;
    border-radius: 5px;
    &:hover {
      background-color: #f13f3f;
    }
  }
}
.fa {
}
.fa-user {
  color: #cd3021;
}
.fa-code {
  color: #cd3021;
}
.fa-th {
  color: #cd3021;
}
.fa-envelope {
  color: #cd3021;
}

.open {
  display: flex !important;
}

.burger {
  // display: flex;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 25px;

  span {
    height: 3px;
    width: 80%;
    transform: scale(1);
    background-color: #f13f3f;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #f13f3f;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //add active class for animation burger icon
  // &.active span in CSS will be without space (.burger.active)
  // .active span in CSS will be with space (.burger. active)
  &.active span {
    transform: scale(0);
  }
  //add active class for animation burger lines
  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (min-width: 901px) {
  .burger {
    display: none;
  }
}

@media (max-width: 1000px) {
  .burger {
    display: flex;
  }
  .header__nav {
    display: none;
  }
  .header__getOffer {
    display: none;
  }
  .burger__nav {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 74px;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgba(41, 47, 54, 0.51);
    background-color: rgba(41, 47, 54, 1);
    animation: burgerAnimation 1s;

    ul {
      display: flex !important;
      flex-direction: column;
      gap: 30px;

      a {
        i {
          padding-right: 25px;
        }
      }
    }

    @keyframes burgerAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
