@use "utils/_mixins" as hh;

.hero-section {
  // position: relative;
  // min-height: 70vh;
  // overflow: hidden;
  &__container {
    position: relative;
    height: 70vh;
  }

  &__bg-image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
    filter: grayscale(70%);
  }

  &__body {
    position: absolute;
    margin-top: -500px;
    min-height: 70vh;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px;
    font-size: hh.fluid(20);
    font-weight: bold;
    font-family: Cormorant Garamond;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    min-height: 50vh;
    flex: 0 0 50%;
    border-radius: 10px;
    background: rgba(41, 47, 54, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    h1 {
      font-size: hh.fluid(34);
    }
    h2 {
      font-size: hh.fluid(26);
    }
    p {
      font-size: hh.fluid(22);
    }
  }

  &__title {
    font-size: hh.fluid(24);
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    a {
      &:first-child {
        display: flex;
        align-items: center;
        background-color: rgb(84, 84, 158);
        padding: 15px;
        border-radius: 5px;
        text-align: center;
      }
      &:last-child {
        display: flex;
        align-items: center;
        background-color: rgb(40, 40, 41);
        padding: 15px;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  &__right {
  }
}
.fab {
}
.fa-github {
}
.text-xl {
}
