@use "utils/_mixins" as hh;

.hero-section {
  padding-top: 25px;
  padding-bottom: 25px;
  &__container {
    display: flex;
    height: 400px;
    padding-bottom: 10px;
    // border-bottom: 3px solid #F13F3F;
    font-family: "JetBrains Mono";
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-indent: 0.5%;
    gap: 30px;
    border-right: 1px solid #f13f3f;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: hh.fluid(24);
    color: #c2bfbf;
    line-height: 1.2;
    gap: 10px;
    z-index: 50;

    h1 {
      font-size: hh.fluid(32);
    }
    h2 {
      font-size: hh.fluid(28);
    }
    p {
      font-size: hh.fluid(22);

      &:first-child {
        font-size: hh.fluid(28);
        font-family: Cormorant Garamond;
      }
    }

    animation: title 3s ease-in-out none;

    @keyframes title {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 44px;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      line-height: 1;

      &:first-child {
        background-color: #f13f3f;
      }

      &:last-child {
        background-color: #1e1e1e;
        gap: 5px;
      }
    }

    animation: links 4s ease-in-out none;

    @keyframes links {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    text-align: right;
    width: 50%;
    height: 100%;

    // img {
    //   max-width: 100%;
    //   // height: 100%;
    //   object-fit: cover;
    //   border-radius: 5px;
    // }
  }
}
.fab {
}
.fa-github {
}
.text-xl {
}
