@use "utils/_mixins" as hh;
@use "utils/_variable.scss" as varSt;

.hero-section {
  padding-top: 25px;
  padding-bottom: 25px;
  @include hh.adaptiv-value("padding-top", 25, 10, 0);
  @include hh.adaptiv-value("padding-bottom", 25, 5, 0);
  &__container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    padding-bottom: 10px;
    gap: 10px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include hh.adaptiv-value("width", 750, 170, 0);
    // width: 550px;
    @include hh.adaptiv-value("gap", 30, 10, 0);
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: hh.fluid(24);
    line-height: 1.2;
    gap: 10px;
    z-index: 50;
    text-justify: inter-word;

    // @media (max-width: 425px) {
    //   backdrop-filter: blur(1px) saturate(150%);
    //   background-color: rgba(41, 47, 54, 0.35);
    // }

    h1 {
      @include hh.adaptiv-value("font-size", 32, 24, 0);
      // font-size: hh.fluid(32);
    }
    h2 {
      @include hh.adaptiv-value("font-size", 28, 21, 0);
      // font-size: hh.fluid(28);
    }
    p {
      @include hh.adaptiv-value("font-size", 22, 16.5, 0);
      // font-size: hh.fluid(22);

      &:first-child {
        @include hh.adaptiv-value("font-size", 28, 21, 0);
        // font-size: hh.fluid(28);
        font-family: Cormorant Garamond;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;

    .CV {
      border-radius: 5px;
      padding: 10px;
      background: varSt.$btn-bg-prim;
      color: varSt.$color-prim;

      &:hover {
        background: varSt.$btn-bg-prim-hover;
        color: varSt.$btn-color-prim-hover;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    width: 170px;
    border-radius: 20px;
    box-shadow: 2px 4px 6px #000000;
    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

// .social-icon-bar {
//     display: flex;
//     flex-direction: column;
//     position: fixed;
//     margin-right: 64px;
//     @include hh.adaptiv-value("gap", 20, 10, 0);
//     width: 15%;
//     a {
//       display: flex;
//       text-align: center;
//       color: white;
//       font-size: hh.fluid(20);
//       @include hh.adaptiv-value("width", 45, 40, 0);
//       border-radius: 2px;
//     }
//     .github {
//       border-radius: 5px;
//       padding: 10px;
//       background: #1f2328;
//       color: #c9c5bd;
//     }
//     .linkedin {
//       border-radius: 5px;
//       padding: 10px;
//       background: #0a66c2;
//       color: #c9c5bd;
//     }
//   }
