@use "utils/_mixins" as hh;

.hero-section {
  padding-top: 25px;
  padding-bottom: 25px;
   @include hh.adaptiv-value("padding-top", 25, 10, 0);
  @include hh.adaptiv-value("padding-bottom", 25, 5, 0);
  &__container {
    display: flex;
    height: 100%;
    padding-bottom: 10px;
    // font-family: "JetBrains Mono";
    background-image: url(../../img/hero/marine-rb-1042.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 768px) {
      background-image: url(../../img/hero/marine-rb-768.png);
    }

    @media (max-width: 425px) {
      background-image: url(../../img/hero/marine-rb-425.png);
    }
    @media (max-width: 375px) {
      background-image: url(../../img/hero/marine-rb-375.png);
    }

    @media (max-width: 320px) {
      background-image: url(../../img/hero/marine-rb-320.png);
    }
  }

  &__social-icon-bar {
    display: flex;
    flex-direction: column;
    @include hh.adaptiv-value("gap", 20, 10, 0);
    width: 15%;
    a {
      display: flex;
      text-align: center;
      color: white;
      font-size: hh.fluid(20);
      @include hh.adaptiv-value("width", 45, 40, 0);
      border-radius: 2px;
    }
    .github {
      border-radius: 5px;
      padding: 10px;
      background: #1f2328;
      color: #c9c5bd;
    }
    .linkedin {
      border-radius: 5px;
      padding: 10px;
      background: #0a66c2;
      color: #c9c5bd;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    @include hh.adaptiv-value("gap", 30, 10, 0);
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: hh.fluid(24);
    color: #c2bfbf;
    line-height: 1.2;
    gap: 10px;
    z-index: 50;

    @media (max-width: 425px) {
      backdrop-filter: blur(1px) saturate(150%);
      background-color: rgba(41, 47, 54, 0.35);
    }

    h1 {
      @include hh.adaptiv-value("font-size", 32, 24, 0);
      // font-size: hh.fluid(32);
    }
    h2 {
      @include hh.adaptiv-value("font-size", 28, 21, 0);
      // font-size: hh.fluid(28);
    }
    p {
      @include hh.adaptiv-value("font-size", 22, 16.5, 0);
      // font-size: hh.fluid(22);

      &:first-child {
        @include hh.adaptiv-value("font-size", 28, 21, 0);
        // font-size: hh.fluid(28);
        font-family: Cormorant Garamond;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 44px;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      line-height: 1;
    }

    .CV {
      border-radius: 5px;
      padding: 10px;
      background: #f13f3f;
      color: #c9c5bd;
    }
  }
}
