@use "utils/_mixins" as sh;

.skills {
  padding-top: 25px;
  padding-bottom: 25px;
  &__container {
    height: 250px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: sh.fluid(32);
    text-align: center;
    padding-bottom: 20px;

    .fa-code {
      color: #f13f3f;
      font-size: sh.fluid(36);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
.fa {
}
