@use "utils/_mixins" as sh;

.skills {
  @include sh.adaptiv-value("padding-top", 25, 15, 0);
  @include sh.adaptiv-value("padding-bottom", 25, 5, 0);
  &__container {
    height: 100%;
  }

  &__body {
  }

  &__title {
    @include sh.adaptiv-value("font-size", 32, 24, 0);
    text-align: center;
    @include sh.adaptiv-value("padding-bottom", 20, 10, 0);
    font-family: "Roboto";

    .fa-code {
      @include sh.adaptiv-value("font-size", 36, 27, 0);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34px, 64fr));
    @include sh.adaptiv-value("gap", 60, 45, 0);
    // gap: sh.fluid(60);
    padding: 35px;
    justify-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    // @include sh.adaptiv-value("width", 64, 34, 0);
    // @include sh.adaptiv-value("height", 64, 34, 0);
    @include sh.adaptiv-value("font-size", 16, 12, 0);
    // width: 64px;
    // height: 64px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.fa {
}
