$color-prim: #e2e8f0;
$color-second: #e2e8f0;
$btn-bg-prim: #3b82f6;
$btn-color-prim: #0f1f38;
$btn-bg-prim-hover: #4b1f4d;
$btn-color-prim-hover: #e2e8f0;
$color-6: #1b4b5a;
$color-7: #3b454b;
$bg-nav: #0f1f38;
$color-nav: #e5e7eb;
