//утилиты
@use "utils/_fonts.scss" as *;
@use "utils/_reset.scss" as *;
@use "utils/_mixins" as mSt;
@use "utils/_settings.scss" as setSt;
@use "utils/_variable.scss" as varSt;

// блоки
@use "blocks/_header.scss";
@use "blocks/_heroSection.scss";
@use "blocks/_about.scss";
@use "blocks/_skills.scss";
@use "blocks/_myWork.scss";
@use "blocks/_contact.scss";
@use "blocks/_footer.scss";

.wrapper {
  min-height: 100%;
  // overflow: hidden;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #162e54 0%, #234478 30%, #6b2f6f 55%, #47194a 100%);
}
.content {
  flex: 1 1 auto;
  // position: relative;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    padding: 0px 10px;
  }
}


.fa-user {
  color: #8b5cf6;
  padding-right: 15px;
}
.fa-code {
  color: #8b5cf6;
  padding-right: 15px;
}
.fa-th {
  color: #8b5cf6;
  padding-right: 15px;
}
.fa-envelope {
  color: #8b5cf6;
  
}